<html>
<head>
<title>activity_historico.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #abb2bf;}
.s1 { color: #e5c17c; font-style: italic;}
.s2 { color: #a6b2c0;}
.s3 { color: #98c379;}
.s4 { color: #abb2bf;}
.s5 { color: #e06c75;}
</style>
</head>
<body bgcolor="#282c34">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_historico.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s5">RelativeLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s3">=&quot;@drawable/teladecalculo&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.HistoricoActivity&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s5">Button</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/btnLimpar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@+id/lvImc&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;98dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;90dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;102dp&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;@drawable/btn_custom&quot;</span>
        <span class="s1">android:cursorVisible</span><span class="s3">=&quot;false&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;times new roman&quot;</span>
        <span class="s1">android:onClick</span><span class="s3">=&quot;onClickDeletar&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;Limpar Lista&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@android:color/background_light&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s5">ListView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/lvImc&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;314dp&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;102dp&quot;</span>
        <span class="s1">android:backgroundTint</span><span class="s3">=&quot;@android:color/background_light&quot;</span>
        <span class="s1">android:backgroundTintMode</span><span class="s3">=&quot;screen&quot;</span>
        <span class="s1">android:cacheColorHint</span><span class="s3">=&quot;@android:color/background_light&quot;</span>
        <span class="s1">tools:layout_editor_absoluteX</span><span class="s3">=&quot;1dp&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s3">=&quot;1dp&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s5">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView5&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;134dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;42dp&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentTop</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;60dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;60dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;times new roman&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;Lista de imcs&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@android:color/background_light&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;24sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s5">Button</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/button4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_below</span><span class="s3">=&quot;@+id/lvImc&quot;</span>
        <span class="s1">android:layout_alignParentStart</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentEnd</span><span class="s3">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;36dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;100dp&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;@drawable/btn_custom&quot;</span>
        <span class="s1">android:cursorVisible</span><span class="s3">=&quot;false&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;times new roman&quot;</span>
        <span class="s1">android:onClick</span><span class="s3">=&quot;onClickNovo&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;Novo&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@android:color/background_light&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot; </span><span class="s2">/&gt;</span>
<span class="s2">&lt;/</span><span class="s5">RelativeLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>